.footer{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: stretch;
    flex-basis: 1;
    flex-grow: 1;
    width: 100%;
    min-height: 200px;
    margin-top: 200px;
}
.footer .sub {
    min-height: 200px;
    width: 30%;
    text-align: center;
}

.footer .sub ul {
    list-style-type: none;
    margin: 0;
    text-align: center;
}
.footer .sub ul a {
    text-decoration: none;
    font-size: 20px;
    color: wheat;
}
.footer .sub ul li {
    padding-top: 15px;
    padding-bottom: 15px;
}
.bottom {
    text-align: center;
    color: white;
    font-size: 18px;
    font-family: monospace;
    margin-top: 25px;
    padding-bottom: 15px;
}
.bottom a {
    text-decoration: underline;
    color: white;
    font-size: 18px;
    font-family: monospace;
}

@media screen and (max-width: 769px) {
    .footer {
        display: block;
    }
    .footer .sub {
        width: 100%;
        text-align: center;
        border-top: 1px solid white;
    }
}