.main {
    text-decoration: none;
    background-color: #303030;
    font-family: 'Inter', sans-serif;
    min-height: 100vh;
}
.main a {
    text-decoration: none;
}
.container {
    background-color: #303030;
    padding: 10px;
}

.title {
    font-size: 24px;
    margin: 0;
    color: white;
    font-family: 'Ysabeau Infant', sans-serif;
    display: block;
}

.over_image {
    margin-top: -150px;
    margin-bottom: 100px;
    color: white;
    opacity: 1;
    padding: 20px;
}

.content {
    margin: 40px auto;
    padding: 0 20px;
    color: white;
}

.category {
    display: block;
    margin-bottom: 25px;
}

.category .item {
    width: 100%;
    padding: 15px;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    border-radius: 15px;
    margin-bottom: 25px;
}
.category .item .button_holder {
    margin-top: 25px;
    width: 100%;
}
.category .item a {
    margin: auto;
    width: 75%;
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 20px;
    background-color: #595959;
    text-decoration: none;
    color: white;
    font-weight: 800;
    font-family: 'Ysabeau Infant', sans-serif;
    font-size: 1.2EM;
}
.category .item a:hover {
    background-color: #808080;
}
.category .panel{
    text-align: center;
    padding: 20px;
    padding-bottom: 35px;
    padding-top: 35px;
    flex: 1 1 0;
}
.category .panel img {
    width: 50%;
    margin: auto;
    margin-bottom: 20px;
    border-radius: 50%;
}


.bg_red {
    background-color: #FF6F61;
}
.bg_purple {
    background-color: #5B5EA6;
}
.bg_paste {
    background-color: #45B8AC;
}
.bg_blue {
    background-color: #4285F4;
}
.bg_yellow {
    background-color: #FBBC05;
}
.bg_gray {
    background-color: #404040;
}

.section {
    margin-bottom: 40px;
}

.width-full {
    width: 100%;
}

.footer {
    background-color: #17181a;
    padding: 20px;
    padding-top: 200px;
    text-align: center;
    color: white;
    -webkit-mask-image: linear-gradient(0deg, rgba(23,24,26,1) 0%, rgba(23,24,26,1) 50%, rgba(23,24,26,0) 100%);
    mask-image: linear-gradient(0deg, rgba(23,24,26,1) 0%, rgba(23,24,26,1) 50%, rgba(23,24,26,0) 100%);
}
.footer a {
    text-decoration: none;
    color: pink;
}
.footer .socialLinks {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.spacer {
    height: 75px;
    width: 100%;
}

@media screen and (min-width: 768px) {
    .over_image {
        margin-top: -100px;
        margin-bottom: 100px;
        color: white;
        opacity: 1;
        padding: 20px;
    }
    .spacer {
      height: 60px;
      width: 100%;
    }
    .category {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 25px;
    }
    
    .category .item {
        width: 49.5%;
        display: block;
        padding: 10px;
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .category .item .button_holder {
        margin-top: 25px;
        width: 100%;
    }
    .category .item a {
        width: 50%;
    }
}