.main {
    text-decoration: none;
    background-color: #303030;
    font-family: 'Inter', sans-serif;
    min-height: 350vh;
}
.main a {
    text-decoration: none;
}

.content {
    margin: 40px auto;
    padding: 0 20px;
    color: white;
}

.category {
    display: block;
    margin-bottom: 25px;
}

.section {
    margin-bottom: 40px;
}

.main iframe {
    width: 100%;
    height: 80vh;
    border-radius: 50px;
    margin-top: 100px;
}